version: "3.9"
services:
  chrome:
    image: selenium/standalone-chrome:3.141.59-vanadium
    ports:
      - 4444:4444
    volumes:
      - /dev/shm:/dev/shm
  ruby:
    build: .
    volumes:
      - .:/myapp